














/*------------------------------*/


/*-------------------portfolio*/



/*-----------------------modal*/

/*------------------------------modal-form*/


/*
.form-check::before{
  display: inline-block;

  margin-right: 7px;
  content: "";
  width: 16px;
  height: 15px;
  background-image: url(../images/Vector\ \(1\).svg);
  background-size: contain;

  transition: background-image var(--transform);
}

.input-check:checked+.form-check::before {
  background-image: url(../images/icon\ check.svg);
}
*/
