.button {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  min-width: 200px;
  border: transparent;
  border-radius: 4px;

  color: $title-color;
  cursor: pointer;
  background-color: $accend-color;
  font-family: inherit;
  @include font (16px, 1.88, 700,  0.06em);

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  

  transition: background-color $transform;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.button--second {
  @extend .button;
  min-width: 26px;
  padding: 6px 22px;

  color: $primery-color;
  background-color: $background-grey-color;
  border-color: transparent;
  @include font (500, 16px, 1.6, $spacing:0.03em);
  
  transition: color $transform, background-color $transform, box-shadow $transform;

  &:hover,
  &:focus {
    @include shadow((0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12)), $accend-color, $title-color)
    
  }
}
