body {
  color: $primery-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.link,
.current {
  text-decoration: none;
}

.list-img {
  text-decoration: none;
}

.list {
  list-style: none;
}
