$primery-color: #212121;
$text-color: #757575;
$title-color: #ffffff;
$accend-color: #2196f3;
$accent-second-color: #000000;
$background-darc-color: #2f303a;
$background-grey-color: #f5f4fa;

$transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$main-font: Roboto, sans-serif;

$gap: 30px;