/*----------------------features*/
.features {
  display: flex;
  gap: $gap;

  @media screen and (max-width:1199px){
    flex-direction: column;
  align-items: center;
  }
  

  @media screen and (min-width: 768px) and (max-width:1199px){
    flex-direction: row;
    flex-wrap: wrap;
  }

  }

.features__item {
  @media screen and (min-width: 768px) and (max-width: 1200px){
    flex-basis: calc((100% - 1 * $gap) / 2);
  }

 
}

.features__link {
  max-width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: $background-grey-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.features__title {
  margin-bottom: 10px;
  @include font(14px, 1.14, 700, $spacing: 0.03em);
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.features__text {
  width: 100%;

  color: $text-color;
  @include font(14px, 1.14, $weight: 400, $spacing: 0.03em);
}
