/*------------------------------footer-form*/
.footer__footer-form {

@media screen and (max-width:1199px) {
        width: 100%;
  }

@media screen and (max-width:1199px) {
   margin-bottom: 60px;
    
  }

    @media screen and (min-width:1200px) {
      margin-left: 93px;
    }
 
}

.footer-form {
@media screen and (max-width:1199px) {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
    .footer-form__email {
    display: flex;
    position: relative;

    @media screen and (max-width:1199px) {
      
        display: flex;
        flex-direction: column;
              }
  }

.footer-form__wrap{
  position: relative;

  @media screen and (min-width: 768px) and (max-width:1199px) {
     margin-left: 166px;
  
    }
}

    .footer-form__iput {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;


    padding-top: 15px;
    padding-bottom: 15px;
 
    font: inherit;
    font-family: 'Roboto';
    @include font (16px, 1.25, $weight: 400, $spacing: 0.03em);
    color: $title-color;

    @media screen and (max-width:767px) {
            width: 100%;
      }

@media screen and (min-width: 768px) {
    min-width: 450px;
 
  }

@media screen and (min-width: 1200px) {
  min-width: 358px;
  margin-right: 12px;
}

    &:hover {
      border-color: $accend-color;
    }
  }

 .footer-form__label {
    position: absolute;
    top: 50%;
    left: 16px;

    transform: translateY(-50%);
    @include font (16px, 1.25, $weight: 400, $spacing: 0.03em);
    font: inherit;
    font-family: 'Roboto';
    

    color: rgba(255, 255, 255, 0.6);
    transition: transform $transform;

 

    .footer-form__iput:focus + &,
    .footer-form__iput:not(:placeholder-shown) + & {
      transform: translate(-16px, -46px);
    }
  }

    .footer-form__button {
      position: relative;
    @extend .button;
    padding: 10px 28px;
    justify-content: space-between;

    @media screen and (max-width:1199px) {
        margin-top: 20px;
      }
  }

    .footer-form__icon {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);

    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    fill: $title-color;
  }

