/*-----------------------footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $background-darc-color;

  

  &__title {
    color: $title-color;
    @include font (14px, 1.14, 700, $spacing: 0.03em);
    text-transform: uppercase;

    margin-bottom: 20px;
  }

  &__logo{
    color: $title-color;
  }
}

.footer .container {
  display: flex;

  align-items: baseline;
}


.contacts {
  flex-grow: 1;
}

.footer__address{
margin-top: 20px;
}

.address {
  font-style: normal;
  
  & .address__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__map {
    color: $title-color;
    @include font (14px, 1.71, $weight: 400, $spacing: 0.03em);
    transition: color $transform;

    &:hover,
    &:focus {
      color: $accend-color;
    }
  }

  &__cotact {
    @include font (14px, 1.71, $weight: 400, $spacing: 0.03em);
    color: rgba(255, 255, 255, 0.6);

    transition: color $transform;

    &:hover,
    &:focus {
      color: $accend-color;
    }
  }
}

footer__footer-soc{
  margin-left: 70px;
}

.social_link--dark-bg {
  @extend .social__link;
  background-color: rgba(255, 255, 255, 0.1);
}
