/*---------------------------header*/
.header {
  @include font (14px, 1.14, 500, 0.02em);
  border-bottom: 1px solid #ececec;
}

.header__container {
  position: relative;

  display: flex;
  align-items: center;
justify-content: space-between;
  min-height: 60px;
}

.header__tablet{
  display: none;
 @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
   width: 100%;
   margin-left: 88px;
  } 
    @media screen and(min-width:1200px) {
      padding-top: 32px;
        padding-bottom: 32px;
        margin-left: 93px;
    }
}



.header__tablet .site-nav{
  display: flex;
    flex-direction: row;
    gap: 50px; 

@media screen and(min-width:1200px) {
  
  gap: 53px;
}
   
}

.header__tablet .site-nav__link--current,
.header__tablet .site-nav__link{
@include font(14px, 1.14, 500, 0.02em);
    color: $primery-color;

    @media screen and(min-width:1200px) {}
transition: color $transform;

&:hover,
&:focus {
  color: $accend-color;
}
}

.header__tablet .site-nav__item {
  position: relative;
}

.header__tablet .site-nav__link--current::after {
  position: absolute;

  left: 0;
  bottom: -33px;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: $accend-color;
  border-radius: 2px;
}

.header__tablet .site-nav__link--current {
  color: $accend-color;
}




.header__tablet .auth-nav {
display: flex;
margin: 0;
    margin-left: auto;
    gap: 10px;

    
   
  @media screen and(min-width:1200px) {
    flex-direction: row;
      gap: 30px;
  }
}

.header__tablet .auth-nav__link {
  color: $text-color;
  display: flex;
  align-items: center;
  background-color: transparent;

  transition: fill $transform, color $transform;


  &:hover,
  &:focus {
    fill: currentColor;
    color: $accend-color;
  }
}

.header__tablet .auth-nav__icon {
  margin-right: 8px;
  fill: currentColor;
  @media screen and(min-width:1200px) {
      
      gap: 10px;
    }
}

.header__tablet .auth-nav__item{
@include font(12px, 1.17, 500, 0.02em);
        color: $text-color;

  @media screen and(min-width:1200px) {
    @include font(14px, 1.14, 500, 0.02em);
      
    }
}
