/*----------------------work*/
.section--no-padding-top {
  padding-top: 0;
}

.section.desktop{
  @media screen and (max-width:1199px){
    display: none;
  }
}

  .section__title {
    @extend %title;
    margin-bottom: 50px;
  }


.section__work--margin-negative{
  margin: -15px;
}

.work {
  display: flex;
}

  .work__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
    flex-wrap: wrap;
  }

    .work__wrap {
    position: relative;
  }

    .work__text {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include font (14px, 1.14, 700, $spacing: 0.03em);
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);

    color: $title-color;
  }

